body {
  background: #f3eae3
  margin-bottom: 60px
  margin-top: 60px
}

.header, .footer {
  background: #4b341a
  height: 60px
  padding: 10px
  position: fixed
  width: 100%
}

.header {
  top: 0
}

.footer {
  bottom: 0
}

.footer-container {
  width: 100%
}

.section-title {
  color: #fff
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center
  width: 100%
}

.content-inner {
  padding-left: 0
  padding-right: 0
}


@import "nib"
@import "./components"
@import "../js/include"
