body {
  margin-bottom: 60px
  margin-top: 60px
}

.header, .footer {
  background: #4b341a
  height: 60px
  padding: 10px
  position: fixed
  width: 100%
}

.header {
  top: 0
}

.footer {
  bottom: 0
}

.section-title {
  color: #fff
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center
  width: 100%
}


@import "../js/include"
