.landing-page {
  text-align: center

  button {
    baseButton()
    padding: 2.5em .5em
    width: 70%
  }
}

.send-money-btn {
  center()
  margin-top: 20px
}

.trans-history-btn {
  center()
  margin-top: 100px
}
