table.transaction-list {
  border-collapse: collapse
  width: 100%
  td {
    border: none
    padding-bottom: 8px
    padding-top: 8px
    vertical-align: middle
  }
}

.transaction-date {
  padding-left: 20px
}

.transaction-name {
  text-align: center
}

.transaction-amount {
  padding-right: 20px
  text-align: right
}


tr.transaction:nth-child(odd) {
  background: #e9d9cb
}
tr.transaction:nth-child(even) {
  background: #e4d5c3
}
