table.transaction-list
  tr.transaction(rv-each-transaction="transactions.models")
    td.transaction-date {transaction:dateAdded | dayFormat}
    td.transaction-name {transaction.getName < name email }
    td.transaction-amount
      span {transaction:currency | currencySymbol}
      span {transaction:amount | currency}


